body {
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: 18px;
}

.main-menu li {
  font-size: 16px;
}

h1 {
    font-size: 30px;
}

.catalog-filter h2 {
  font-size: 24px;
  line-height: 26px;
}

.right-coulmn {
  line-height: 24px;
}

}
.equipment-title {
  font-size: 24px;
  line-height: 26px;
}

.catalog-filter .filter-form {
  line-height: 17px;
}

.breadcrumbs,
.item-price,
.item-buy
.btn {
  line-height: 16px;
}
