body {
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: 18px;
}

.main-menu li {
  font-size: 16px;
}

h1 {
    font-size: 30px;
}

.catalog-filter h2 {
  font-size: 24px;
  line-height: 26px;
}

.right-coulmn {
  line-height: 24px;
}

}
.equipment-title {
  font-size: 24px;
  line-height: 26px;
}

.catalog-filter .filter-form {
  line-height: 17px;
}

.breadcrumbs,
.item-price,
.item-buy
.btn {
  line-height: 16px;
}

/* Сетка страниц */

.main-header {
  background: #000000;
  padding: 0 10px;
  margin: 0 auto;
}

.container {
  width: 940px;
  min-height: 70px;
}

.inner-page-logo {
  width: 140px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 40px;
}

.main-menu {
  width: 540px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 40px;
}

.user-block {
  width: 140px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-menu li {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 40px;
}

.main-menu li:last-child {
  margin-right: 0px;
}
