body {
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  line-height: 18px;
  margin: 0px;
}

.main-menu li {
  font-size: 16px;
}

h1 {
    font-size: 30px;
}

.catalog-filter h2 {
  font-size: 24px;
  line-height: 26px;
}

.right-coulmn {
  line-height: 24px;
}

}
.equipment-title {
  font-size: 24px;
  line-height: 26px;
}

.catalog-filter .filter-form {
  line-height: 17px;
}

.catalog-item h1 {
  font-size: 14px;
}

.breadcrumbs,
.item-price,
.item-buy
.btn {
  line-height: 16px;
}

/* Сетка страниц */

.main-header {
  background: #000000;
  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.inner-page-logo {
  width: 140px;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 20px;
}

.main-menu {
  width: 620px;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 20px;
  font-size: 0px;
}

.user-block {
  width: 140px;
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-menu li{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 40px;
}

.main-menu li:last-child {
  margin-right: 0px;
}

.container h1 {
  margin-bottom: 30px;
}

.breadcrumbs {
  margin-bottom: 60px;
  padding-left: 0px;
}

.breadcrumbs li {
  display: inline;
  vertical-align: middle;
  margin-right: 40px;
}

.catalog-filter {
  float: left;
  width: 220px;
}

.filter-form {
  display: block;
}

fieldset {
  border: 0 none;
}

.catalog {
  float: right;
  width: 700px;
  font-size: 0px;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  vertical-align: top;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item span {
  display: block;
}

.item-buy,
.item-price {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.pagination {
  display: block;
  margin-top: 45px;
  font-size: 0px;
}

.pagination li {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin-right: 7px;
  font-size: 14px;
  vertical-align: middle;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.left-column {
  float: left;
  width: 460px;
}

.main-picture {
  display: inline-block;
  width: 460px;
  text-align: left;
  margin: 0px;
  vertical-align: middle;
}

.preview-container {
  font-size: 0px;
}

.preview-container a {
  display: inline-block;
  width: 140px;
  margin-right: 20px;
  vertical-align: middle;
}

.preview-container a:last-child {
  margin-right: 0px;
}

.right-column {
  float: right;
  width: 390px;
}

.stock-attributes {
  display: block;
}

.item-availability {
  float: left;
  width: 90px;
}

.item-stock-number {
  float: right;
  width: 150px;
}

.item-description {
  display: block;
  width: 390px;
}

.equipment-title {
  display: block;
  width: 390px;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
